<template>
    <div>
        <h1>황금 돼지들</h1>
        <section>
            <card-pet-info
                v-for="(item, index) in pigs"
                v-bind:key="index"
                v-bind:id="item.id"
                v-bind:pet-birthday="item.pigBirthday"
                v-bind:pet-age="item.pigAge"
                v-bind:pet-name="item.pigName"
                v-bind:photo-path="item.photoName"
                v-bind:pet-price="item.price"
            />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            pigs: [
                {
                    id: 5,
                    photoName: '/images/gold_pig_01.jpg',
                    pigName:'일금이',
                    pigAge: 5,
                    pigBirthday: '2023-12-01',
                    price: 2000000
                },
                {
                    id: 4,
                    photoName: '/images/gold_pig_02.jpeg',
                    pigName:'이금이',
                    pigAge: 4,
                    pigBirthday: '2023-12-02',
                    price: 1500000
                },
                {
                    id: 3,
                    photoName: '/images/gold_pig_03.png',
                    pigName:'삼금이',
                    pigAge: 3,
                    pigBirthday: '2023-12-03',
                    price: 0
                },
                {
                    id: 2,
                    photoName: '/images/gold_pig_04.jpg',
                    pigName:'사금이',
                    pigAge: 2,
                    pigBirthday: '2023-12-04',
                    price: 500000
                },
                {
                    id: 1,
                    photoName: '/images/gold_pig_05.jpg',
                    pigName:'오금이',
                    pigAge: 1,
                    pigBirthday: '2023-12-05',
                    price: 300000
                }
            ]
        }
    }
}
</script>
