<template>
    <div>
        {{ testValue }}
        <button @click="">바꾸기</button>
    </div>
</template>

<script>
export default {
    data() {
        return{
            testValue: "안녕하세요"
        }
    }
}
</script>
